<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.porter</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/gtarafdar/Downloads/porter/scripts/run-porter.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/tmp/porter.launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/porter.launchd.err.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/gtarafdar</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>PORTER_OPEN_BROWSER</key>
    <string>0</string>
    <key>PORTER_NO_BONJOUR</key>
    <string>1</string>
  </dict>
  <key>WorkingDirectory</key>
  <string>/Users/gtarafdar/Downloads/porter</string>
</dict>
</plist>
